body{
  overflow:hidden;
}

.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  height: 90vh;
  background-image: -webkit-image-set();
}
.deleted{}

.rounded{
  display: flexbox;
  height: 2rem;
  width: 100%;
}

.card{
  display: inline-block;
  background-color: #b2d9f7;
}
.card-link{
  
}

