body{
  overflow:hidden;
}

.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100%;  
  margin-left: auto;
  margin-right: auto;
}
.rounded{
  display: flexbox;
  height: 2rem;
  width: 100%;
}

.card{
  display: inline-block;
  background-color: #b2d9f7;
  padding: 1.5rem;
  border-radius: 1rem;
  font-display: grid;
  margin-top: 2rem;

  


}


